#sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1000;
}


body {
    margin-left:  5%;;
    padding: 0;
    box-sizing: border-box;
	body {
		background-color: #f8f9fa;
	}
}



#Resume {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 30px;
	margin-top: 50px;
}

h2 {
	color: #007bff;
}

.resume-title {
	color: #6c757d;
	border-bottom: 2px solid #dee2e6;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.resume-item {
	background-color: #f1f1f1;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.resume-item ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.resume-item li {
	padding-left: 20px;
	position: relative;
}

.resume-item li::before {
	content: '\2022';
	position: absolute;
	left: 0;
	color: #007bff;
}
.resume-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.footer-icons {
	font-size: 20px;
	color: #007bff;
}
.hero {
	margin-left: 0;
    position: relative;
	/* background: linear-gradient(300deg, #222831, #393E46, #00ADB5, #EEEEEE); */
	background: linear-gradient(300deg, #08D9D6, #252A34, #FF2E63, #EAEAEA);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    height: 50vh; /* Set the height to 100% of the viewport height */
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 768px) {
	#sidebar {
	  display: none;
	}
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
}


@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Orbitron', sans-serif;
}

#about-me, #about-me h1, #about-me h2, #about-me h3, #about-me h4, #about-me h5, #about-me h6, #about-me p, #about-me a {
    color: #fff; /* Change text color to white */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5); /* Update text shadow */
}

#about-me:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5); /* Update box shadow */
}

.card {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.5s; /* Remove pulsate animation */
}

.card:hover {
    transform: scale(1.05);
}

.card-footer {
    background-color: transparent;
}

.card-footer a {
    color: #fff;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.card-footer a:hover {
    color: #00ffff;
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
    transform: scale(1.2);
}

/* GitHub and LinkedIn buttons */
.github-btn, .linkedin-btn {
    display: inline-block;
    font-size: 1.2em;
    color: #fff;
    background-color: #58a4b0;
    padding: 10px 20px;
    text-decoration: none;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    perspective: 1000px;
    border-radius: 5px;
    position: relative;
}

.github-btn::before, .linkedin-btn::before {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #020b1a;
    color: #58a4b0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.github-btn:hover, .linkedin-btn:hover {
    transform: rotateY(180deg);
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

about-me, #about-me h1, #about-me h2, #about-me h3, #about-me h4, #about-me h5, #about-me h6, #about-me p, #about-me a {
    color: #ffffff;
    transition: color 0.5s ease-in-out; /* Add transition effect */
}

#abut-me:hover, #about-me:hover h1, #about-me:hover h2, #about-me:hover h3, #about-me:hover h4, #about-me:hover h5, #about-me:hover h6, #about-me:hover p, #about-me:hover a {
 color: #2c3e50; /* Change text color on hover */
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #f8f9fa;
    color: #7fffd4;
}

#sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) perspective(1000px) rotateY(0deg);
    left: 0;
    z-index: 1000;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url('path-to-your-image.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    color: #333;
    text-align: left;
    line-height: 1.6;
    margin: 10px;
    letter-spacing: 1px;
    word-spacing: 2px;
    transition: all 0.3s ease;
}

#sidebar:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.3);
    opacity: 1;
    transform: translateY(-50%) perspective(1000px) rotateY(0deg); /* Return to original state on hover */
}

#sidebar:not(:hover) {
    animation: rotate 5s infinite linear; /* Apply spinning animation only when not hovered */
}

@keyframes rotate {
    0% { transform: translateY(-50%) perspective(1000px) rotateY(0deg); }
    100% { transform: translateY(-50%) perspective(1000px) rotateY(1turn); }
}

	
body {
	background: #f4f4f4;
	font-family: 'Arial', sans-serif;
	color: #333;
}

#Resume, #WorkExperience, #Education {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 30px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#Resume h2, #WorkExperience h2, #Education h2 {
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	color: #333;
}

.resume-title, .work-title, .education-title {
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #333;
}

.resume-item, .work-item, .education-item {
	background: #f9f9f9;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 30px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}

.resume-item h4, .work-item h4, .education-item h4 {
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #333;
}

.resume-item h5, .work-item h5, .education-item h5 {
	font-size: 1em;
	margin-bottom: 10px;
	color: #777;
}

.resume-item p, .work-item p, .education-item p {
	font-size: 0.9em;
	color: #555;
}


    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
